In [25]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [55]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [56]:
driver.get("https://www.naukri.com/")

In [57]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [58]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [59]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [68]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [69]:
j_t = driver.find_elements(By.XPATH, '/html/body/div[1]/div[4]/div/div/section[2]/div[2]/article[1]/div[1]/div[1]/a')
for i in j_t:
    JT = i.text
    job_title.append(JT)

j_l = driver.find_elements(By.XPATH, '/html/body/div[1]/div[4]/div/div/section[2]/div[2]/article[1]/div[1]/ul/li[3]/span')
for i in j_l:
    JL = i.text
    job_location.append(JL)

c_n = driver.find_elements(By.XPATH, '/html/body/div[1]/div[4]/div/div/section[2]/div[2]/article[1]/div[1]/div[1]/div/a[1]')
for i in c_n:
    CN = i.text
    company_name.append(CN)
    
e_r = driver.find_elements(By.XPATH, '/html/body/div[1]/div[4]/div/div/section[2]/div[2]/article[1]/div[1]/ul/li[1]/span[1]')
for i in e_r:
    ER = i.text
    experience_required.append(ER)


df1 = pd.DataFrame(list(zip(job_title, job_location, company_name, experience_required)),
          columns=['TITLE', 'LOC', 'ORG NAME', 'EXP'])

In [68]:
print("*********ANSWER FOR QUESTION 1***********")
df

*********ANSWER FOR QUESTION 1***********

,LOCATION,COMAPNY NAME,EXPERIENCE REQ
0,Bangalore/Bengaluru,ANZ,6-9 Yrs
1,Bangalore/Bengaluru,ANZ,6-10 Yrs
2,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
3,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
4,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
5,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
6,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
7,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,5-10 Yrs
8,Bangalore/Bengaluru,Dpdzero,1-3 Yrs
9,Bangalore/Bengaluru,First American,1-4 Yrs

In [54]:
print("********QUESTION 02*********")

********QUESTION 02*********

In [69]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [70]:
driver.get("https://www.naukri.com/")

In [71]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [72]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [73]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [84]:
job_title=[]
S_job_location=[]
company_name=[]
experience_required=[]

In [85]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [86]:
len(job_title)

10

In [89]:
S_job_location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in S_job_location[0:10]:
    S_location=i.text
    S_job_location.append(S_location)

In [90]:
len(S_job_location)

30

In [91]:
company_name=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_name[0:10]:
    company=i.text
    company_name.append(company)

In [94]:
len(company_name)

30

In [93]:
experience_required=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_required[0:10]:
    exp=i.text
    experience_required.append(exp)

In [95]:
len(experience_required)

30

In [99]:
df = pd.DataFrame(list(zip(job_title[:10], job_location[:10], company_name[:10], experience_required[:10])),
                  columns=['TITLE', 'LOCATION', 'COMPANY NAME', 'EXPERIENCE REQ'])

In [100]:
print("*********ANSWER FOR QUESTION 2***********")
df

*********ANSWER FOR QUESTION 2***********

,TITLE,LOCATION,COMPANY NAME,EXPERIENCE REQ
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,Data Scientist,Bangalore/Bengaluru,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,Sr. Data Scientist - Python / ML / DL,"Bangalore/Bengaluru, Noida, Mumbai, Chandigarh...",<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,Data Scientist - Engine Algorithm,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,Data Scientist - Engine Algorithm,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,Data Scientist - Engine Algorithm,"Bangalore/Bengaluru, Kolkata, Mumbai, Visakhap...",<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,Data Scientist- Bangalore,Bangalore/Bengaluru,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
9,Data Science Analyst - Data Science,Bangalore/Bengaluru,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...

In [9]:
print('****Question 3*****')

****Question 3*****

In [6]:
driver.get("https://www.naukri.com/")

In [7]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
location = driver.find_element(By.XPATH,'//i[@class="fleft naukicon naukicon-checked"]')
location.click()

In [11]:
salary=driver.find_element(By.XPATH,'//p[@class="ellipsis count-text"]')
salary.click()

In [12]:
job_title=[]
company_name=[]
experience_required=[]

In [13]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [14]:
company_name=driver.find_elements(By.XPATH,'//div[@class="companyInfo subheading"]')
for i in company_name[0:10]:
    company=i.text
    company_name.append(company)

In [15]:
df = pd.DataFrame(list(zip(job_title[:10], company_name[:10])),
                  columns=['TITLE', 'COMPANY NAME'])

In [17]:
print('****Question 4*****')

****Question 4*****

In [53]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [54]:
driver.get("https://www.flipkart.com/")

In [55]:
product_class=driver.find_element(By.CLASS_NAME,"_3704LK")
product_class.send_keys('sunglasses')

In [56]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [57]:
product_name=[]
product_price=[]
product_desc=[]

In [2]:
from selenium.webdriver.support import expected_conditions as EC

In [3]:
from selenium.webdriver.support.ui import WebDriverWait

In [60]:
start = 0
end = 2

for page in range(start, end):
    p_n = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in p_n:
        name = i.text
        product_name.append(name)
        
    p_p = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in p_p:
        price = i.text
        product_price.append(price)
        
    p_d = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in p_d:
        description = i.text
        product_desc.append(description)
        
    if len(product_name) >= 100:
        break
 
    df4 = pd.DataFrame(list(zip(product_name, product_price, product_desc)),
                  columns=['NAME', 'PRICE', 'Description'])

In [61]:
print("************Answer for Question 4*************")
df4

************Answer for Question 4*************

             NAME PRICE                                        Description
0   VINCENT CHASE  ₹849  by Lenskart Polarized, UV Protection Retro Squ...
1   VINCENT CHASE  ₹789  by Lenskart Polarized, UV Protection Cat-eye S...
2       Elligator  ₹149             UV Protection Wayfarer Sunglasses (53)
3       Elligator  ₹149  UV Protection Cat-eye, Retro Square, Oval, Rou...
4            SRPM  ₹109                UV Protection Round Sunglasses (53)
..            ...   ...                                                ...
73         PIRASO  ₹274  by Lenskart Polarized, UV Protection Retro Squ...
74       Fastrack  ₹579             UV Protection Wayfarer Sunglasses (58)
75  VINCENT CHASE  ₹849  Gradient, UV Protection Wayfarer Sunglasses (F...
76       Fastrack  ₹689               UV Protection Sports Sunglasses (65)
77       Fastrack  ₹539  Polarized, UV Protection Rectangular Sunglasse...

[78 rows x 3 columns]

In [62]:
print("*******QUESTION NO 5*********")

*******QUESTION NO 5*********

In [3]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [4]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [5]:
Rating=[]
review_summary=[]
full_review=[]

In [6]:
start = 0
end = 9

for page in range(start, end):
    I_R = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in I_R:
        Iphnrate = i.text
        Rating.append(Iphnrate)
        
    r_s = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in r_s:
        RSIphn = i.text
        review_summary.append(RSIphn)
        
    f_r = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for i in f_r:
        FRIphn = i.text
        full_review.append(FRIphn)
        
    if len(Rating) >= 100:
        break
 
    df5 = pd.DataFrame(list(zip(Rating, review_summary, full_review)),
                  columns=['RATING', 'REVIEW SUMMARY', 'FULL REVIEW'])

In [72]:
print("*****ANSWER OF QUESTION 5*******")
print("******REVIEW FOR IPHONE 11*******")
df5

*****ANSWER OF QUESTION 5*******
******REVIEW FOR IPHONE 11*******

,RATING,REVIEW SUMMARY,FULL REVIEW
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
85,5,Worth every penny,Previously I was using one plus 3t it was a gr...
86,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
87,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
88,5,Highly recommended,What a camera .....just awesome ..you can feel...
89,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

In [7]:
df5.to_excel('output.xlsx', index=False)

In [73]:
print("**************QUESTION 6**********")

**************QUESTION 6**********

In [22]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [23]:
driver.get("https://www.flipkart.com/")

In [24]:
product_class=driver.find_element(By.CLASS_NAME,"_3704LK")
product_class.send_keys('sneakers')

In [25]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [26]:
print("searched sneakers as required")

searched sneakers as required

In [27]:
brand=[]
price=[]
product_description=[]

In [28]:
start = 0
end = 4

for page in range(start, end):
    br = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in br:
        f_name = i.text
        brand.append(f_name)
        
    fp_p = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in fp_p:
        f_price = i.text
        price.append(f_price)
        
    fp_d = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in fp_d:
        f_description = i.text
        product_description.append(f_description)
        
    if len(brand) >= 100:
        break
 
    df6 = pd.DataFrame(list(zip(brand, price, product_description)),
                  columns=['BRAND', 'PRICE', 'Description'])

In [29]:
print("formed lists and now appending the required data into them")

formed lists and now appending the required data into them

In [13]:
print("*****ANSWER OF QUESTION 6******")
print("****LIST OF TOP 100 SNEAKERS************")
df6

*****ANSWER OF QUESTION 6******
****LIST OF TOP 100 SNEAKERS************

           BRAND   PRICE                                        Description
0       RapidBox    ₹579                                   Sneakers For Men
1   K- FOOTLANCE    ₹399                                   Sneakers For Men
2         Layasa    ₹449  Casual Sneakers White Shoes For Girls And Snea...
3           aadi    ₹299  Synthetic| Lightweight| Premiun| Comfort| Summ...
4          BIRDE    ₹499      Combo Pack Of 2 Casual Shoes Sneakers For Men
..           ...     ...                                                ...
75        Layasa    ₹399      Stylish Casual Sports Shoe Sneakers For Women
76          Furo  ₹1,550                                   Sneakers For Men
77          PUMA  ₹4,999                  RS-Z Reinvention Sneakers For Men
78         asian    ₹774          Thunder-01 White Canvas, Sneakers For Men
79        Shozie    ₹445  Stylish Sneakers Shoes for Women And Girls Sne...

[80 rows x 3 columns]

In [31]:
df6.to_excel('sneakers1.xlsx', index=False)

In [32]:
print("**************QUESTION 07*********")

**************QUESTION 07*********

In [33]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [34]:
driver.get("https://www.amazon.in/")

In [41]:
product_class = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]')
product_class.click()

In [42]:
product_class1=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product_class1.send_keys('Laptop')

In [45]:
search=driver.find_element(By.ID, 'nav-search-submit-button')
search.click()

In [47]:
selection=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[12]/li/span/a/div')
selection.click()

In [60]:
print("**********searched all the required parameters")
print("now will form lists and append requied data into them")

**********searched all the required parameters
now will form lists and append requied data into them

In [49]:
title=[]
ratings=[]
price=[]

In [56]:
t_l = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in t_l:
    t_name = i.text
    title.append(t_name)

l_r = driver.find_elements(By.XPATH, '//i[@class="a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom"]')
for i in l_r:
    l_ratings = i.text
    ratings.append(l_ratings)

l_p = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in l_p:
    l_price = i.text
    price.append(l_price)


df7 = pd.DataFrame(list(zip(title, ratings, price)),
          columns=['TITLE', 'RATINGS', 'PRICE'])

In [58]:
df7 = df7.head(10)

In [61]:
print("******ANSWER OF QUESTION 7********")
print("*****TOP 10 Laptops******")
df7

******ANSWER OF QUESTION 7********
*****TOP 10 Laptops******

                                               TITLE RATINGS     PRICE
0  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...            94,989
1  Lenovo Legion 5 Pro Intel Core i7-12700H 16" (...          2,18,108
2  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...            98,990
3  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...          1,02,990
4  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...            79,990
5  LG Gram16 Intel EVO-[12th Gen Core i7/Win11/16...            99,990
6  HP Victus Gaming Latest 12th Gen Intel Core i7...            79,990
7  Acer Predator Helios Neo 16 Gaming Laptop 13th...          1,29,990
8  HP Envy x360 for Creators 12th Gen Intel Core ...            97,990
9  MSI Modern 14, Intel 13th Gen. i7-1355U, 36CM ...            74,990

In [62]:
print('********QUESTION 08*******')

********QUESTION 08*******

In [3]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [4]:
driver.get("https://www.azquotes.com/")

In [71]:
top1000=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div/div[3]/a[1]')
top1000.click()

In [6]:
topquotes=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
topquotes.click()

In [7]:
quote=[]
author=[]
type_quote=[]

In [15]:
start = 1
end = 101

for page in range(start, end):
    url = f'http://quotes.toscrape.com/page/{page}/'
    driver.get(url)
    
    Q_Q = driver.find_elements(By.XPATH, '//div[@class="quote"]//span[@class="text"]')
    for i in Q_Q:
        QUO = i.text
        quote.append(QUO)
        
    a_q = driver.find_elements(By.XPATH, '//div[@class="quote"]//span/small[@class="author"]')
    for i in a_q:
        QAUTHOR = i.text
        author.append(QAUTHOR)
        
    t_q = driver.find_elements(By.XPATH, '//div[@class="quote"]//div[@class="tags"]//a[@class="tag"]')
    for i in t_q:
        ty_quote = i.text
        type_quote.append(ty_quote)

df8 = pd.DataFrame(list(zip(quote, author, type_quote)),
                  columns=['QUOTE', 'AUTHOR', 'TYPE'])

In [16]:
df8

,QUOTE,AUTHOR,TYPE
0,“The world as we have created it is a process ...,Albert Einstein,change
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,deep-thoughts
2,“There are only two ways to live your life. On...,Albert Einstein,thinking
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,world
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,abilities
...,...,...,...
295,“You never really understand a person until yo...,Harper Lee,fate
296,“You have to write the book that wants to be w...,Madeleine L'Engle,life
297,“Never tell the truth to people who are not wo...,Mark Twain,misattributed-john-lennon
298,"“A person's a person, no matter how small.”",Dr. Seuss,planning
299,“... a mind needs books as a sword needs a whe...,George R.R. Martin,plans

In [12]:
print("******QUESTION 09*******")

******QUESTION 09*******

In [40]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [41]:
driver.get("https://www.jagranjosh.com/")

In [42]:
gkoption=driver.find_element(By.XPATH, '/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
gkoption.click()

In [43]:
listofPM=driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
listofPM.click()

In [46]:
N_PM = driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[4]/table/tbody/tr/td[2]/p/strong/a')
for i in N_PM:
    PM = i.text
    Name_PM.append(PM)
        
b_d = driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[4]/table/tbody/tr/td[3]/p')
for i in b_d:
    Bo_dead = i.text
    Born_Dead.append(Bo_dead)
        
t_o_o = driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[4]/table/tbody/tr/td[4]/p[1]/span')
for i in t_o_o:
    terms = i.text
    term_of_office.append(terms)
        
r_r = driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[4]/table/tbody/tr/td[5]/p')
for i in r_r:
    Re = i.text
    Remark.append(Re)

df9 = pd.DataFrame(list(zip(Name_PM, Born_Dead, term_of_office, Remark)),
                  columns=['PM NAME', 'BIRTH-DEATH', 'TERM OF OFFICE', 'REMARK']) 

print(df9)

                PM NAME  BIRTH-DEATH                    TERM OF OFFICE  \
0     Jawahar Lal Nehru  (1889–1964)     15 August 1947 to 27 May 1964
1         Indira Gandhi  (1898-1998)       27 May 1964 to 9 June 1964,
2         Indira Gandhi  (1904–1966)    9 June 1964 to 11 January 1966
3       Chandra Shekhar  (1898-1998)  24 January 1966 to 24 March 1977
4  Atal Bihari Vajpayee  (1917–1984)   24 March 1977 to  28 July 1979
5        Manmohan Singh  (1896–1995)   28 July 1979 to 14 January 1980

                                              REMARK
0  The first prime minister of India and the long...
1                           First acting PM of India
2  He has given the slogan of 'Jai Jawan Jai Kisa...
3                                                  -
4               First female Prime Minister of India
5  Oldest to become PM (81 years old) and first t...

In [50]:
print("****Question 9 done, all data extracted as needed****** ")

****Question 9 done, all data extracted as needed******

In [49]:
print("*****QUESTION 10*******")

*****QUESTION 10*******

In [51]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [52]:
driver.get("https://www.motor1.com/")

In [53]:
print("*********This cannot be done because there is no 50 most expensive cars in the world option in the left menu button")

*********This cannot be done because there is no 50 most expensive cars in the world option in the left menu button